* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #2A0944;
  color: #3FA796;
  font-family: 'Fuzzy Bubbles', cursive;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 10px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.to-do-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 25px 0;
}

.title__icon-cont  {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 85px;
  margin-left: 5px;
}

.title__icon {
  height: 60px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
  width: 200px;
  padding-left: 10px;
  text-shadow: 1px 1px 1px #E8F9FD;
}

/* List */

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 264px;
  width: 88%;
  max-width: 450px;
  min-height: 355px;
  /* height: 70vh; */
  padding: 16px 16px 25px;
  margin: 0 0 10px 0;
  border-radius: 25px;
  background-color: #E8F9FD;
  box-shadow: 1px 1px 1px 1px #3FA796;
}
.list h2 {
  font-size: 2.6rem;
  font-weight: 700;
  text-shadow: 1px 1px 1px #2A0944;
  line-height: 2rem;
  margin:8px 0 18px;
}

@media (min-width: 700px) { 
  .list {
    max-width: 750px;
  }

  h1 {
    font-size: 5.2rem;
    width: 310px;
    line-height: 5rem;
  }

  .list h2 {
    font-size: 3.9rem;
    line-height: 3.5rem;
  }

  .title__icon {
    height: 80px;
  }
}